# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Eclipse Core
.project

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# Compiled Documents
*.pdf
*.ps
ui_*

*.ini
!default.ini